# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
parser-proxy
markdown-parser
typst-parser

# Test output
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
# vendor/

go.work
go.work.sum

.env
